{% extends 'inventory/base2.html' %}

{% block app_content %}

<div class="container p-2">
  <form action="{% url 'commodity_search' %}">
    <input type="text" placeholder="Search" class="form-control" name="search">
  </form>
</div>

<div class="container border border-secondary rounded" style="height: 86%;">
    <table class="table text-center info-table">
        <thead>
          <tr>
            <th scope="col">Commodity Id</th>
            <th scope="col">Department</th>
            <th scope="col">Assigned to</th>
            <th scope="col">Price</th>
            <th scope="col">Current Price</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for commodity in commodities %}
          <tr>
            <td>{{commodity.id}}</td>
            <td>{{commodity.department.name}}</td>
            <td>{{commodity.assign_to}}</td>
            <td>{{commodity.inventory.price}}</td>
            <td>{{commodity.inventory.current_price}}</td>
            <td>{{commodity.status}}</td>
            <td>
              <a href="{% url 'update-commodity' commodity.id %}" class="btn btn-success buttons">Edit</a>
              <a href="{% url 'delete-commodity' commodity.id %}" class="btn btn-danger buttons">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}